<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Business</title>
    
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
    <link href="../assets/dist/css/bootstrap.min.css" >
    <link href="../assets/dist/css/style.css" rel="stylesheet">
    <link href="carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

<body>
<div class="login">
<div class="container">
<div class="row">

  <div class="col-lg-5 col-md-7 col-xl-5 mx-auto">
    <h2><a href="/signup">Logo</a></h2>
    <div class="card card-signin flex-row">
      <div class="card-body">
        <form method="POST" action="/signup" class="form-signin">
          <div class="radio-wrapper">        
            <div class="form-check">
              <input class="form-check-input" type="radio" name="role" id="exampleRadios1" value="customer" checked="checked">
              <label class="form-check-label" for="exampleRadios1">
               User
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="role" id="exampleRadios2" value="partner">
              <label class="form-check-label" for="exampleRadios2">
               Business
              </label>
            </div>
          </div>
          <div class="form-label-group">
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required>
          </div>
          <div class="form-label-group">
            <input type="password" name="password" minlength="8" id="inputPassword" class="form-control" placeholder="Password" required>
          </div>
          
          <div class="form-label-group">
            <input type="password" id="inputConfirmPassword" name="cpassword" minlength="8" class="form-control" placeholder="Confirm Password" required>
          </div>
        
          <button class="btn btn-lg btn-primary btn-block text-uppercase mb-2" type="submit">Sign Up</button>
          <%- include('../messages/flash-messages') -%>
        </form>
          <a class="d-block text-center mt-2 small" href="/signin">Sign In</a>
          <hr class="my-4">
          <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fa fa-google" aria-hidden="true"></i> Sign up with Google</button>
          <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fa fa-facebook" aria-hidden="true"></i> Sign up with Facebook</button>
        
      </div>
    </div>
  </div>
</div>
</div>
</div>
</body>
    <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/assets/dist/js/actions.js"></script>

      
</html>
