    <%- include('../shared/header') -%>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">

        <div class="container">
          <div class="carousel-caption">
            <h1>People waiting for your service</h1>
            <p>Sign -up as  business -user for our free plan.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up for free</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">

        <div class="container">
          <div class="carousel-caption">
            <h1>People waiting for your service</h1>
            <p>Sign -up as  business -user for our free plan.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up for free</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">

        <div class="container">
          <div class="carousel-caption">
            <h1>People waiting for your service</h1>
            <p>Sign -up as  business -user for our free plan.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up for free</a></p>
          </div>
        </div>
      </div>
    </div>

  </div>
<div class="price">
  <div class="container">
    <div class="row">
	<div class="col-lg-12">
		<div class="dt-sc-title">
			<p><img width="27" height="27" src="../assets/dist/img/title-img.png" class="attachment-full" alt="" ></p>
			<h2>Our Pricing</h2>
			<h3>What We have Done</h3>
		</div>
		 		 <div class="col-lg-4 col-md-12 col-sm-12 pull-left">

                        <div class="price-table">
                            <div class="price-head">
                                <h4>Free Plan</h4>
                                <h2>0&#128; <span>month</span></h2>
                            </div>
                            <div class="price-content">
                                <ul>
                                    <li>Company Profile</li>
									<li>1 Calendar</li>
									<li>-</li>
									<li>-</li>
									<li>-</li>
									<li>-</li>
									<li>-</li>
									<li>-</li>
									<li>-</li>
									<li>-</li>
									<li>-</li>
                                </ul>
                            </div>
                            <div class="price-button">
                                <a href="#">Buy Plan</a>
                            </div>
                        </div>
                    </div>
		 <div class="col-lg-4 col-md-12 col-sm-12 pull-left">
                        <div class="price-table">
                            <div class="price-head">
                                <h4>Sync-only Plan</h4>
                                <h2>10	&#128; <span>month</span></h2>
                            </div>
                            <div class="price-content">
                                <ul>
                                    <li>Company Profile</li>
									<li>1 Calendar</li>
									<li>Calendar Sync</li>
									<li>-</li>
									<li>-</li>
									<li>-</li>
									<li>-</li>
									<li>-</li>
									<li>-</li>
									<li>-</li>
									<li>-</li>
                                </ul>
                            </div>
                            <div class="price-button">
                                <a href="#">Buy Plan</a>
                            </div>
                        </div>
                    </div>
					<div class="col-lg-4 col-md-12 col-sm-12 pull-left">
                        <div class="price-table">
                            <div class="price-head">
                                <h4>Premium Plan</h4>
                                <h2>25	&#128; <span>month</span></h2>
                            </div>
                            <div class="price-content">
                                <ul>
                                   <li>Company Profile</li>
				<li>5 Calendars</li>
				<li>Calendar Sync</li>
				<li>Multiple Categories</li>
				<li>Individual Offers</li>
				<li>Public Profile Link</li>
				<li>Individual Calendar names</li>
				<li>Individual Calendar addresses</li>
				<li>Individual Calendar holidays</li>
				<li>Find past events</li>
				<li>Download events</li>
                                </ul>
                            </div>
                            <div class="price-button">
                                <a href="#">Buy Plan</a>
                            </div>
                        </div>
                    </div>
		
		
    </div>
	</div>
   </div>
</div>
<div class="business-partner">
  <div class="container">
    <div class="row">
		<h3>Become a Business  Partner</h3>
		<p><a class="btn black btn-primary" href="#" role="button">Sign up for free</a></p>
    </div>
   </div>
</div>

	<div class="contact-box">
  <div class="container">
    <div class="row">
	<div class="col-md-4">
		<div class="dt-sc-title">
		<p><img width="27" height="27" src="../assets/dist/img/title-img.png" class="attachment-full" alt="" ></p>
		<h2>Contact form</h2>
		<h3>For your convience</h3>
				</div>
		<h4>It is now too easy to find your local office</h4>
		<p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
    </div>
	<div class="col-md-1">
	</div>
	<div class="col-md-7 pull-right">
		<div class="contact-form">
		  <div class="form-group">
    <label>Your Name* </label>
    <input class="form-control">
  </div>
  <div class="form-group">
    <label>Your Email*</label>
    <input class="form-control">
  </div>
	<div class="form-group">
    <label>Subject</label>
    <input class="form-control">
  </div>
  <div class="form-group">
    <label>Your Message</label>
    <textarea class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
		</div>
	</div>
	</div>
   </div>
</div>

<div class="credit-card">
  <div class="container">
    <div class="row">
		<h3>All Major Cards Accepted Here</h3>
		<img src="/assets/dist/img/footer-payment-1.png"  alt="" >
    </div>
   </div>
</div>

<%- include('../shared/footer') -%>