 <%- include('../shared/header') -%>
    <section class="main-title-section-wrapper breadcrumb-right"> 
    <div class="container">  	<div class="row">
    <div class="main-title-section col-md-8 pull-left"><h1>Search for Categories</h1></div>
    <div class="breadcrumb col-md-4 pull-left"><a href="/categories">Home</a>
    <span class="fa default"></span>
    <span class="current"><a href="/categories">Search</a></span>
    </div>  
    </div></div>
   </section>
    <div class="search-companies">
       <div class="container">  	
       <div class="col-md-12">
           <div class="row">
         <div class="d-flex justify-content-center h-100">
           <div class="searchbar">
             <input id="search-category" class="search_input" type="text" name="search-category" placeholder="Search..."/>
             <a href="#" class="search_icon"><i class="fa fa-search" aria-hidden="true"></i></a>
           </div>
         </div>
         </div>
         <div class="row m-t-50 m-b-50">
          <% data.forEach(function(category){ %>
                       <div class="col-xs-4 col-sm-4 col-md-4 service-box">
                               <div class="service-box-img"><i class="fa fa-home" aria-hidden="true"></i>   </div>
                           <a class="service-box-title" href="search-list.html"><%= category.name %></a>
                       </div>
           <% });%>  
           </div>
       </div>
   </div>
   </div>
   <%- include('../shared/footer') -%>