
        <%- include('../shared/header') -%>
        <section class="main-title-section-wrapper breadcrumb-right"> 
            <div class="container">  	<div class="row">
            <div class="main-title-section col-md-8 pull-left"><h1>FAVORITE COMPANY</h1></div>
            <div class="breadcrumb col-md-4 pull-left"><a href="index.html">Home</a>
            <span class="fa default"></span>
            <span class="current"><a href="index.html">Booking</a></span>
            </div>  
            </div></div>
           </section>
            <div class="search-companies">
               <div class="container">  	
                   <div class="row">
                 <div class="d-flex justify-content-center h-100">
                   <div class="searchbar">
                     <input class="search_input" type="text" name="" placeholder="Search...">
                     <a href="#" class="search_icon"><i class="fa fa-search" aria-hidden="true"></i></a>
                   </div>
                 </div>
                 </div>
                 
                    <div class="row "><div class="dt-sc-title">
                       <p><img width="27" height="27" src="../assets/dist/img/title-img.png" class="attachment-full" alt="" ></p>
                       <h2>Favorite Company</h2>
                   </div>
                   <div class="service-list even fav">
                   
                               <div class="col-md-2  pull-left">
                                       <div class="service-icon"><i class="fa fa-home" aria-hidden="true"></i>   </div>
                               </div>
                               <div class="col-md-8 pull-left">
                                     <a class="service-title" href="#">Baby Blue Company</a>
                                     <p>Work is great !!<br/></p>                    </div>
                               <div class="col-md-2 pull-left">
                                       <div class="stars">
                                       <i class="fa fa-star" aria-hidden="true"></i>
                                       <i class="fa fa-star" aria-hidden="true"></i>
                                       <i class="fa fa-star" aria-hidden="true"></i>
                                       <i class="fa fa-star" aria-hidden="true"></i>
                                       <i class="fa fa-star" aria-hidden="true"></i>
                                       </div>
                               </div>
                   </div>
                   </div>
                    <div class="row m-t-20">
                   <div class="service-list odd fav">
                               <div class="col-md-2  pull-left">
                                       <div class="service-icon"><i class="fa fa-home" aria-hidden="true"></i>   </div>
                               </div>
                               <div class="col-md-8 pull-left">
                                     <a class="service-title" href="#">Baby Blue Company</a>
                                     <p>Work is great !!<br/></p>                    </div>
                               <div class="col-md-2 pull-left">
                                       <div class="stars">
                                       <i class="fa fa-star" aria-hidden="true"></i>
                                       <i class="fa fa-star" aria-hidden="true"></i>
                                       <i class="fa fa-star" aria-hidden="true"></i>
                                       <i class="fa fa-star" aria-hidden="true"></i>
                                       <i class="fa fa-star" aria-hidden="true"></i>
                                       </div>
                               </div>
                   </div>
                   </div>
                    <div class="row m-t-20 m-b-50">
                   <div class="service-list even fav">
                               <div class="col-md-2  pull-left">
                                       <div class="service-icon"><i class="fa fa-home" aria-hidden="true"></i>   </div>
                               </div>
                               <div class="col-md-8 pull-left">
                                     <a class="service-title" href="#">Baby Blue Company</a>
                                     <p>Work is great !!<br/></p>                    </div>
                               <div class="col-md-2 pull-left">
                                       <div class="stars">
                                       <i class="fa fa-star" aria-hidden="true"></i>
                                       <i class="fa fa-star" aria-hidden="true"></i>
                                       <i class="fa fa-star" aria-hidden="true"></i>
                                       <i class="fa fa-star" aria-hidden="true"></i>
                                       <i class="fa fa-star" aria-hidden="true"></i>
                                       </div>
                               </div>
                   </div>
                   </div>
                   
               </div>
           </div>
       <%- include('../shared/footer') -%>