<footer>
    <div class="container">
        <div class="row">
        <div class="col-md-6 pull-left"><p>&copy; 2021 All Right reserved</p></div>
                <div class="col-md-6 pull-left"><p><a href="#">info@bookyourworkers.com</a> <a href="privacy.html" class="foot-nav">Privacy Policy</a>  <a href="terms.html"class="foot-nav">Terms & Condition</a></p>
            </div>
        </div>
       </div>
      </footer>
    </main>
    
    
        <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
    
          
      </body>
    </html>